<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="base.css"> -->
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>
    
            <form action="/search/" method="POST" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              {% csrf_token %}
              <input type="search" name="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
            </form>
    
            <div class="text-end">
              {% if request.user.is_authenticated %}
              <a href="{% url 'signout' %}" type="button" class="btn btn-outline-light me-2">Выход</a>
              <a href="">{{user.username}}</a>
              {% else %}  
              <a href="{% url 'signin' %}" type="button" class="btn btn-outline-light me-2">Вход</a>
              <a href="{% url 'signup' %}" type="button" class="btn btn-warning">Зарегистрироваться</a>
              {% endif %}
            </div>
          </div>
        </div>
      </header>

      {% block content %} 

      {% endblock content  %}

            <footer class="container">
            <!-- <p class="float-end"><a href="base.html">Back to top</a></p> -->
            <!-- <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p> -->
          </footer>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>